{% extends "controlCenter/base.html" %}

{% block content %}
    <div class="row">
        <div class="column">
            <h1 style="font-size:5vw">Total devices</h1>
            <h2 style="font-size:5vw">15</h2>
        </div>
        <div class="column">
            <h1 style="font-size:5vw">Connected</h1>
            <h2 style="font-size:5vw">10</h2>
        </div>
        <div class="column">
            <h1 style="font-size:5vw">Activated</h1>
            <h2 style="font-size:5vw">5</h2>
        </div>
        </div>
    </div>

    {% comment %} {% for f in form %} {% endcomment %}
    {% block info %}
    <h1>Dispositivos</h1>
    <div class= "row">
        <div class= "column">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Startup Date</th>
                        <th>Heartbeat</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class= "btn-group2">
                    {% for device in devices %}
                    {% comment %}<tr class= "btn-group"onclick= "alert('row 1 clicked');"> {% endcomment %}
                    <tr class= "rowhover">
                        <td class= "td-highlight">{{ device.id }}</td>
                        <td class= "td-highlight">{{ device.device }}</td>
                        <td class= "td-highlight">{{ device.startup_date|date:'d/m/y' }}</td>
                        <td class= "td-highlight">{{ device.heartbeat|date:'d/m/y h:m' }}</td>
                        <td class= "btn">Remover</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td class="btn-adicionar" colspan="5" onclick= "window.location.href = '/controlCenter/addDevice';">Adicionar</td>
                    </tr>               
                </tbody>    
            </table>
        </div>
    </div>
        <div class= "box devices-header">
            <div class= "box2">
            <div class ="dev-id">ID</div>
            <div class ="dev-name">Name</div>
            <div class ="dev-startup">Startup Date</div>
            <div class ="dev-heartbeat">Heartbeat</div>
            {% comment %} <div></div> {% endcomment %}
            </div>
        </div>
    {% comment %} {% for device in devices %}
        <div class= "box devices-body">
            <div>{{ device.id }}</div>
            <div>{{ device.device }}</div>
            <div>{{ device.startup_date|date:'d/m/y' }}</div>
            <div>{{ device.heartbeat|date:'d/m/y h:m' }}</div>
            <div class= "btn-remover3">Remover</div>
        </div>
    {% endfor %} {% endcomment %}
    {% for device in devices %}
        <div class= "box">
            <div class= "box2 devices-body">
                <div class ="dev-id">{{ device.id }}</div>
                <div class ="dev-name">{{ device.device }}</div>
                <div class ="dev-startup">{{ device.startup_date|date:'d/m/y' }}</div>
                <div class ="dev-heartbeat">{{ device.heartbeat|date:'d/m/y H:i' }}</div>
            </div>
            <div class= "box3">
                <div class= "btn-remover3">Remover</div>
                {% comment %} models.Devices.objects.filter(id=11).delete() {% endcomment %}
            </div>
        </div>
    {% endfor %}
    <div class="row">
        <div class="butao"><h3>Novo dispositivo</h3></div>
    </div>
    <button onclick="myFunction()">Print This Page</button>
    <div class= "form-adicionar">
    <ul>
    <li>lista prim</li>
    <li>lista</li>
    <li>lista</li>
    <li>lista</li>
    <li>lista</li>
    <li>lista</li>
    <li>lista</li>
    <li>lista</li>
    <li>lista</li>
    <li>lista</li>
    <li>lista</li>
    <li>lista ult</li>
    </ul>
    </div>
        <ul>
    <li>lista prim</li>
    <li>lista</li>
    <li>lista</li>
    <li>lista</li>
    <li>lista</li>
    <li>lista</li>
    <li>lista</li>
    <li>lista</li>
    <li>lista</li>
    <li>lista</li>
    <li>lista</li>
    <li>lista</li>
    <li>lista</li>
    <li>lista</li>
    <li>lista</li>
    <li>lista ult</li>
    </ul>
    {% comment %} {% endfor %} {% endcomment %}
    {% endblock info %}
{% endblock content %}